/* .page-top {
  display: flex;
  justify-content: space-between;
} */
/* .services {
  background-image: url("../../assets/services/service-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.service-heading {
  text-align: center;

  color: #aed6f1;
}
.top {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* gap: 5px; */
  align-items: center;
  background-image: url("../../assets/services/service-bg (4).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-right {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.foreword {
  /* margin-left: 20px; */
  font-size: 24px;
  color: #d0d3d4;
  text-align: justify;
}
.service-cover {
  width: 491px;
  height: 380px;
  /* opacity: 0.8; */
}
.menu-card {
  text-align: center;
  color: #34495e;
  margin-bottom: 20px;
  font-size: 24px;
}
.button {
  position: sticky;
  top: 30px;
  left: 900px;
  /* margin-bottom: 20px; */
  /* display: block; */
}
.btn {
  margin-bottom: 5px;
  margin-right: 2px;
}
.service-btn a {
  text-decoration: none;
}
.service-page {
  justify-content: center;
  gap: 15px;
}
.service-ctnt {
  display: flex;
  max-width: 320px;
  justify-content: space-between;

  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  background-color: #2c3e50;
  /* animation: slide_down 1s ease forwards; */

  /* z-index: -1; */
}

ul {
  padding: 20px;
}
.contents {
  justify-content: space-evenly;
}
.overview,
.key_f,
.applications {
  color: #fff;
}
/* .services {
  position: absolute;
  top: 160px;
 z-index: 0;
}  */
.overview {
  text-align: justify;
  padding: 20px;
}
h5 {
  text-decoration: underline;
}
.service-image {
  max-width: 200px;
  max-height: 200px;
}

/* .service-icons {
  display: flex;
  justify-content: space-between;
  margin-left: 900px;
  align-items: end;
  margin-top: 10px;
} */
/* .service-right {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .service-img {
  width: 350px;
  height: 350px;
} */
/* .service-page div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.sub-heading {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  color: #fff;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  position: relative;
}
.web-logo {
  width: 420px;
  height: 300px;
}
.sales-logo {
  width: 450px;
  height: 350px;
}

.up-btn {
  position: sticky;
  left: 1200px;
  top: 30px;
}
.down-btn {
  position: sticky;
  bottom: 30px;
  left: 1200px;
}
@media (max-width: 900px) {
  .service-right {
    order: 1;
  }
  .service-left {
    order: 2;
  }
  .service-cover {
    display: none;
  }

  .top-left {
    order: 2;
  }
}

/* @keyframes slide_down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
} */
