/* .page-top {
  display: flex;
  justify-content: space-between;
} */

.service-heading {
  /* text-align: center; */
  /* position: absolute;
  top: 135px; */
  font-size: 40px;
  color: #800080;
}
.button {
  position: sticky;
  top: 30px;
  left: 900px;
  /* margin-bottom: 20px; */
  /* display: block; */
}
.btn {
  margin-bottom: 5px;
  margin-right: 2px;
}
.service-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 5px;
  margin-bottom: 10px;
  /* animation: slide_down 1s ease forwards; */

  /* z-index: -1; */
}
/* .services {
  position: absolute;
  top: 160px;
 z-index: 0;
}  */
.overview {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-align: justify;
}
.inside-content ul {
  box-shadow: 5px 5px 15px 2px black;
  padding: 20px;
  padding-left: 40px;
}
/* .service-icons {
  display: flex;
  justify-content: space-between;
  margin-left: 900px;
  align-items: end;
  margin-top: 10px;
} */
.service-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-img {
  width: 350px;
  height: 350px;
}
/* .service-page div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.sub-heading {
  /* text-align: center; */
  font-size: 28px;
  margin-top: 10px;
  text-decoration: underline;
}
.web-logo {
  width: 420px;
  height: 300px;
}
.sales-logo {
  width: 450px;
  height: 350px;
}

.up-btn {
  position: sticky;
  left: 1200px;
  top: 30px;
}
.down-btn {
  position: sticky;
  bottom: 30px;
  left: 1200px;
}
@media (max-width: 800px) {
  .service-right {
    order: 1;
  }
  .service-left {
    order: 2;
  }
}

/* @keyframes slide_down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
} */
