.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-heading {
  text-align: center;
  /* margin-bottom: 30px; */

  /* margin-top: 20px; */
  font-size: 60px;
  background: linear-gradient(45deg, rgb(16, 197, 237), rgb(204, 20, 171));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .cover-about {
  filter: blur(1px);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10px;
  z-index: -1;
} */
.about {
  align-items: center;
  display: flex;
}
.left-about,
.right-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-ctnt {
  /* margin-top: 10px; */
  font-size: 16px;
  text-align: justify;
  width: 600px;
  color: black;
}
.about-logo {
  width: 500px;
  height: 400px;
}
.teams {
  justify-content: center;
  /* background-color: #4568dc; */
  /* width: 1200px; */
}
.team-section {
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: linear-gradient(to right, #4568dc, #b06ab3);
  margin-bottom: 20px;
  margin-right: 20px;
  width: 350px;
}
.team-section h5 {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}
.members {
  /* display: flex; */
  justify-content: space-around;
}
.team-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;

  width: 100px;
  height: 100px;
  /* border: 2px solid black; */
}
.team-details img {
  border-radius: 50%;
  /* border: 1px dashed white; */
  margin-bottom: 10px;
  /* width: 100px;
  height: 100px; */
}
.team-details h3 {
  color: white;
  font-size: 20px;
}
.team-heading {
  /* text-align: center; */
  font-size: 40px;
  color: #4568dc;
  /* background: linear-gradient(45deg, #20002c, #cbb4d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* margin-bottom: 30px; */
}

@media (max-width: 800px) {
  .about-ctnt {
    width: 350px;
  }
  .right-about {
    order: 1;
  }
  .social {
    width: 350px;
    text-align: center;
  }
}
