.left-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.left-home p {
  width: 500px;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.icons i {
  font-size: 30px;
}
.home-logo {
  width: 480px;
  height: 480px;
}

@media (max-width: 600px) {
  img {
    width: 400px;
    height: 400px;
  }
  .left-home p {
    width: 400px;
  }
  .left-home {
    order: 2;
  }
}
