.left-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  animation: slide_left 1.5s ease forwards;
}
/* .left-home p {
  width: 500px;
} */
.icons {
  display: flex;
  justify-content: space-around;
  width: 300px;
  background-image: linear-gradient(to right, #009fff, #ec2f4b);
  border-radius: 20px;
}
.icons i {
  font-size: 30px;
}
.home-logo {
  width: 450px;
  height: 450px;
}
.right-home {
  display: flex;
  justify-content: center;
  animation: slide_right 1.5s ease forwards;
  z-index: 0;
}

@media (max-width: 900px) {
  .home-logo {
    width: 350px;
    height: 350px;
  }
  /* .left-home p {
    width: 400px;
  } */
  .left-home {
    order: 2;
  }
}
@keyframes slide_right {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide_left {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
