.Testimonials-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Testimonials-page h1 {
  text-align: center;
}
/* .Testimonials {

} */
.Testimonials div:nth-of-type(1),
.Testimonials div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.l-arrow,
.r-arrow {
  margin-top: 100px;
}

.Reviews {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  /* width: 800px; */
  background-color: #267871;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px black;
}
.Reviews p {
  color: #fff;
  margin-top: 20px;
}
.Reviews h6 {
  font-size: 20px;
  position: relative;
  top: -60px;
  text-align: center;
}

.quates {
  /* margin-top: 20px; */
  width: 80px;
  height: 60px;
}
.clint-pic {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  top: -60px;
}
.Reviews p {
  text-align: justify;
  /* width: 600px; */
  /* margin-top: 20px; */
}
.right-arrow {
  width: 60px;
  height: 60px;
  /* position: absolute;
  top: 300px; */
  /* left: 1200px; */
}
.left-arrow {
  width: 60px;
  height: 60px;
  /* position: absolute;
  top: 300px; */
  /* right: 1200px; */
}

@media (max-width: 868px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
  /* .Reviews img:nth-of-type(2) {
    top: 310px;
  }
  .Reviews h6 {
    top: 450px;
  } */
}
