/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.icons a:nth-of-type(1) {
  color: #9b00ff;
}
.icons a:nth-of-type(2) {
  color: #0008ff;
}
.icons a:nth-of-type(3) {
  color: #fc0202;
}
.icons a:nth-of-type(4) {
  color: black;
}
.icons a:nth-of-type(1):hover {
  color: #de3163;
}
.icons a:nth-of-type(2):hover {
  color: #4249d9;
}
.icons a:nth-of-type(3):hover {
  color: #e74c3c;
}
.icons a:nth-of-type(4):hover {
  color: darkslategray;
}
