body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #8e9eab, #eef2f3);
}
:root {
  --gradient-1: linear-gradient(to right, #fff, #076585);
  --gradient-2: linear-gradient(to right, #4da0b0, #f1f2b5);
  --gradient-3: linear-gradient(to right, #be93c5, #7bc6cc);
  --gradient-4: linear-gradient(to right, #43c6ac, #f8ffae);
  --gradient-5: linear-gradient(to right, #e8cbc0, #636fa4);
}
